@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

body {
    margin: 0;

    font-family: 'Space Grotesk', sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    min-width: 850px;

    background: linear-gradient(112.23deg, #3E718E, #64969B);
}

#window {
    display: flex;

    min-width: inherit;
    width: 75%;

    background-color: #FFFFFF;
}

#window > div:nth-of-type(1) {
    width: 60%;
    position: relative;

    background-image: url('../img/stroke.svg');
    background-repeat: no-repeat;
}

#kreativ {
    
    position: absolute;
    top: 1rem;
    left: 1rem;

    font-size: 1.5rem;

    background: linear-gradient(90deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#center {
    display: flex; 
    flex-direction: column;
    align-items: center;

    width: 70%;
    margin: 0 auto;

    margin-top: 4rem;
}

#center > form {
    width: 100%;
}

#center > h1{
    margin-bottom: 0;

    font-size: 1.25rem;;
}

#center input{
    width: 100%;
}

#center label {
    display: block;
    margin-top: 0.5rem;
}

.password-desc {
    color: #A8A8A8;
    font-size: 0.625rem;
}

#optional {
    color: #A8A8A8;
    font-size: 0.75rem;
}

input[type="submit"] {
    height: 2rem;

    margin-top: 4rem;

    background: #27485D;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    color: #FFFFFF;

    font-size: 1rem;

    border-radius: 4px;
    border: 1px solid #284A5E;
}


#login{
    margin-top: 1rem;
    margin-bottom: 3rem;

    color: #C4C4C4;
}

#quote {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 40%;
    margin: 4px;

    color: white;
    background: linear-gradient(160.42deg, #517879, #214159);
    box-shadow: 0px 0px 10px 9px #4E7577;

    font-weight: 700;
}

#quote a {
    text-decoration: none;
    color: white;
}

#quote > div:nth-of-type(1) {
    position: absolute;
    top: 1rem;
    right: 1rem;

    display: flex;
    width: 8rem;
    justify-content: space-between;
}

#quote > span {
    font-size: 3rem;
    margin: 0 10%;
}

#quote > div {
    margin-left: 10%;
}

